.buttonContainer {
    background-color: #ECF0F6;
    border-radius: 10px;
    padding-bottom: 2%;
    margin: 2%;
}

.header {
    margin: 0% 2% 2% 2%;
}

.buttonWrapper {
    height: 100%;
    padding: 1%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 7px;
    background-color: #FDFEFE;
    color:#17202A;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #17202A;
        color: #FDFEFE;
        cursor: pointer;
    }
}

.buttonText {
    font-size: 1rem;
}
