.mainContainer {
  padding: 3%;
  background-color: #F1F4F4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondaryContainer {
  width: 45%;
  border-radius: 8px;
  background-color: #FBFBFA;
}
